<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">Personal Assets</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav mr-0">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Assets" asp-action="Index">Assets</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My household
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var household in User.GetHouseholds())
                        {
                            <a class="dropdown-item" href="#">@household.Name</a>
                        }
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
