<form data-ajax="true" data-ajax-method="post" data-ajax-url="Assets/AddAsset" 
      data-ajax-mode="replace" data-ajax-update="#assets-table"  method="post">
    <input type="text" name="name"/>
    <input type="number" name="lifecycle" />

    <input type="submit" value="Добавить"/>
</form>