@page
@model IndexModel
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Personal assets</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-2">Personal Assets</h1>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <div id="carousel-banner" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-banner" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/banner1.svg" alt="Put in order your assets" class="d-block w-100" />
                        </div>
                        <div class="carousel-item">
                            <img src="/images/banner2.svg" alt="Optimize your budget" class="d-block w-100" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 text-center">

                <fb:login-button scope="public_profile,email" size="xlarge" onlogin="checkLoginState();">
                    Sign In via Facebook
                </fb:login-button>
            </div>
        </div>
    </div>


    <footer class="mt-5">
        <div class="container text-center">
            <address>&copy; Alexander Morozov 2018-@DateTime.Now.Year </address>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/popperjs/umd/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/popperjs/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </environment>

    <script>
        function statusChangeCallback(fbResponse) {
            window.location.replace("/SignInViaFacebook?token=" + fbResponse.authResponse.accessToken);
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1238388306324560',
                cookie: true,
                xfbml: true,
                version: 'v3.2'
            });

            FB.AppEvents.logPageView();

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</body>
</html>